@container (max-width: 30rem) {
  .k-button-group.k-language-selector {
    display: none;
  }
}

@container (min-width: 30rem) {
  .k-language-selector + .k-languages-dropdown {
    display: none;
  }
}

/* Language Selector style */
.k-language-selector > .k-button,
.k-language-selector + .k-languages-dropdown > .k-button {
  text-transform: uppercase;
}

/* Same width buttons */
.k-language-selector > .k-button:not([data-dropdown='true']) {
  --button-padding: 0;
  min-width: 2rem;
}
